.menu__list__item{
    margin-left: 2rem;
    transition: 5ms;
    color: var(--color-de-texto);
}

.menu__list__item__contacto{
    margin-left: 2rem;
    font-weight: bold;
    padding: 0.25rem;
    border: solid black 3px;
    border-radius: 10px;
    color: var(--color-de-texto);
}

.menu__list__item:hover, .menu__list__item--contacto:hover{
    transform: scale(1.2);
    cursor: pointer; 

}

@media screen and (min-width:768px){
    .menu__list__item--contacto{
        display: none;
    }
}
