.academic__courses__item__img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    width: 100%;
    height: 286px;
    margin-bottom: 1rem;

}

.academic__courses__item__img img{
    max-height: 41%;
}
