.formcontacto__textarea{
    display: block;
    width: 100%;
    margin: 0 0 2rem;
    padding: 1rem 0 1rem 1rem;
    border: none;
    border-bottom: 2px solid lightgrey;
    resize: none;
    font-weight: 100;
    color: var(--color-de-texto);
    font-family: 'Raleway';
    font-size: 1rem;
}
.formcontacto__textarea::placeholder{
    font-size: 1rem;
    font-weight: 100;

}

.formcontacto__textarea:focus{
    outline: none;
    border-bottom: 2px solid blue;
}

