.formcontacto__input{
    display: block;
    width: calc(100% - 2rem);
    margin-bottom: 1rem;
    height: 3rem;
    padding: 1.5rem 0 0rem 1rem;
    font-size: 1rem;
    font-weight: 100;
    border: none;
    border-bottom: 2px solid lightgrey;
    color: var(--color-de-texto);
    font-family: 'Raleway';
    bottom: 0;

}

.formcontacto__input:focus{
    outline: none;
    border-bottom: 2px solid blue;
}

.input-container--invalid + .formcontacto__input {
    border-bottom: 2px solid red;
}

.input-container--invalid .formcontacto__input:focus {
    border-bottom: 2px solid red;
}